<div class="container">
  <div class="mdl-cell row justify-content-center mdl-cell--12-col mdl-cell--4-col-phone"
    style="height:200px; margin-top: 15%;">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
      <base-card style="cursor: pointer; justify-content: center; border-radius: 10px;"
        onmouseover="this.style.backgroundColor='gray';" onmouseout="this.style.backgroundColor='#444';"
        (click)="go('reports')">
        <base-card-body style="align-self: center;">
          <h2 class="mdl-card__title-text" style=" text-align: center;  display: block;">YAPILAN RAPORLAMALAR</h2>
        </base-card-body>
      </base-card>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-size">
      <base-card style="cursor: pointer; justify-content: center; border-radius: 10px;"
        onmouseover="this.style.backgroundColor='gray';" onmouseout="this.style.backgroundColor='#444';"
        (click)="go('questions')">
        <base-card-body style="align-self: center;">
          <h2 class="mdl-card__title-text" style=" text-align: center; display: block;">SORU İŞLEMLERİ</h2>
        </base-card-body>
      </base-card>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row justify-content-center" style="height:200px; margin-top: 15%;">
    <div class="col-4">
      <base-card style="cursor: pointer; justify-content: center; border-radius: 10px;" onmouseover="this.style.backgroundColor='gray';"
        onmouseout="this.style.backgroundColor='#444';" (click)="go('reports')">
        <base-card-body style="align-self: center;">
          <h2 class="mdl-card__title-text" style=" text-align: center;  display: block;">YAPILAN RAPORLAMALAR</h2>
        </base-card-body>
      </base-card>
    </div>
    <div class="col-4">
      <base-card style="cursor: pointer; justify-content: center; border-radius: 10px;" onmouseover="this.style.backgroundColor='gray';"
        onmouseout="this.style.backgroundColor='#444';" (click)="go('questions')">
        <base-card-body style="align-self: center;">
          <h2 class="mdl-card__title-text" style=" text-align: center; display: block;">SORU İŞLEMLERİ</h2>
        </base-card-body>
      </base-card>
    </div>
  </div>
</div> -->